* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
html {
    font-family: serif;
}
.container {
    width: 80%;
    margin: auto;
}
hr {
    height: 1px;
    border: 0;
    border-top: 1px solid rgba(255, 255, 255, 0.07);
}

/* ------------------------------------- */
.navbar-section {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background-color: white;
    padding: 10px;
    z-index: 10;
}
.navbar-section .brand {
    display: inline-block;
    padding-left: 30px;
}
.navbar-section .brand a img {
    width: 50%;
}
.navbar-section .links {
    display: inline-block;
    padding-right: 30px;
    position: absolute;
    right: 0px;
}
.clear {
    clear: both;
}
.navbar-section .links ul li {
    display: inline-block;
    padding: 10px;
    list-style: none;
}
.navbar-section .links ul li a {
    color: black;
    font-weight: bold;
}
.navbar-section a {
    text-decoration: none;
}
/* ---------------------------------- */
.settings-section {
    position: fixed;
    right: 0;
    top: 20%;
    background-color: white;
    padding: 5px;
    z-index: 10;
    border: 1px solid lightgrey;
    border-radius: 10px 0px 0px 10px;
}
.settings-section ul {
    list-style: none;
}
.settings-section ul li {
    padding: 3px;
}
.settings-section ul li i {
    /* font-size: 20px; */
    /* margin-right: 10px; */
    color: gray;
    border: 1px solid lightgrey;
    border-radius: 50%;
    width: 35px;
    height: 35px;
    text-align: center;
    line-height: 35px;
}
/* ---------------------------------- */
.landing {
    min-height: 85vh;
    background-image: linear-gradient(rgba(0, 0, 0, 0.5)), url('images/drew-coffman-1872.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    overflow: auto;
}
.landing .landing-text {
    text-align: center;
    margin-top: 300px;
}
.landing .landing-text p {
    padding: 20px;
    font-size: 20px;
    font-weight: 300;
    /* font-style: normal; */
    /* font-family: sans-serif; */
    color: lightgrey;
}
.landing .landing-text h1 {
    font-size: 64px;
    font-weight: bold;
    /* font-family: sans-serif; */
    color: white;
}
.landing .landing-text .button-learn-more {
    padding: 12px 24px;
    background-color: #5a442c;
    color: white;
    border: none;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    border-radius: 5px;
    margin: 5px;
}
.landing .landing-text .button-contact-us {
    padding: 12px 24px;
    background-color: transparent;
    color: white;
    border: 2px solid white;
    border-radius: 5px;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    border-radius: 5px;
    margin: 5px;
}
.landing .landing-text button:hover {
    background-color: white;
    color: black;
    transition-duration: 0.3s;
}
/* -------------------------------------- */
.who-we-are-section {
    background-color: white;
    /* color: white; */
    padding: 50px;
    overflow: hidden;
}
.who-we-are-section .who-image {
    width: 40%;
    display: inline-block;
}
.who-we-are-section .who-image img {
    width: 100%;
    border-radius: 10px;
}
.who-we-are-section .who-text {
    width: 59%;
    display: inline-block;
    padding: 20px;
    vertical-align: top;
}
.who-we-are-section .who-text h2 {
    font-size: 32px;
    font-weight: bold;
    /* font-family: serif; */
    padding: 10px;
    color: black;
}
.who-we-are-section .who-text p {
    font-size: 18px;
    font-weight: 300;
    line-height: 1.6;
    padding: 10px;
    color: black;
}
.who-we-are-section .who-list ul {
    list-style: none;
    padding: 0;
    padding: 10px;
}
.who-we-are-section .who-list ul li {
    font-size: 18px;
    margin: 15px 0;
    display: block;
    padding: 10px 0px;
}
.who-we-are-section .who-list ul li i {
    font-size: 20px;
    margin-right: 10px;
    color: #d4a373;
    border: 1px solid lightgrey;
    border-radius: 50%;
    width: 35px;
    height: 35px;
    text-align: center;
    line-height: 35px;
}
/* --------------------------------------- */
.our-location-section {
    background-color: white;
    padding: 50px;
    overflow: hidden;
}
.our-location-section .our-location-image {
    width: 40%;
    display: inline-block;
}
.our-location-section .our-location-image img {
    width: 100%;
    border-radius: 10px;
}
.our-location-section .our-location-text {
    width: 59%;
    display: inline-block;
    padding: 30px;
    vertical-align: top;
}
.our-location-section .our-location-text h2 {
    font-size: 32px;
    font-weight: bold;
    /* font-family: serif; */
    padding: 20px;
    color: black;
}
.our-location-section .our-location-text p {
    font-size: 18px;
    font-weight: 300;
    line-height: 1.6;
    padding: 20px;
    color: black;
}
/* --------------------------------------- */
.baking-section {
    background-color: white;
    padding: 50px;
    text-align: center;
}
.baking-section .baking-text {
    text-align: center;
    margin-bottom: 30px;
}
.baking-section .baking-text h2 {
    font-size: 2rem;
    color: black;
    padding: 10px;
}
.baking-section .baking-text p {
    color: black;
    padding: 10px;
}
.baking-section .baking-cards {
    text-align: center;
}
.baking-section .baking-cards .card {
    width: 33%;
    float: left;
    padding: 40px;
}
.baking-section .baking-cards .card img {
    width: 100%;
    border-radius: 5px;
    padding-bottom: 15px;
}
.baking-section .baking-cards .layer h3 {
    font-size: 1.5rem;
    color: black;
    margin-bottom: 10px;
}
.baking-section .baking-cards .layer p {
    font-size: 1rem;
    color: black;
}
/* --------------------------------------- */
.contact-section {
    background-color: white;
    /* color: #fff; */
    padding: 50px;
    overflow: hidden; /* To clear floats */
}
.contact-section .contact-text {
    width: 50%;
    float: left;
    padding: 20px;
}
.contact-section .contact-map {
    width: 50%;
    float: left;
}
.contact-section .contact-text h2 {
    font-size: 2rem;
    padding: 15px;
    color: black;
}
.contact-section .contact-text p {
    font-size: 1rem;
    padding: 15px;
    color: black;
}
.contact-section ul {
    list-style: none;
}
.contact-section ul li {
    font-size: 1rem;
    padding: 10px;
}
.contact-section ul li i {
    /* padding: 10px; */
    color: white;
    background-color: #725F43;
    border-radius: 50%;
    width: 35px;
    height: 35px;
    text-align: center;
    line-height: 35px;
    display: inline-block;
}
.contact-section .contact-map iframe {
    width: 100%;
    height: 450px;
    border-radius: 10px;
    border: none;
}
/* ----------------------------------------- */
.about-section {
    background-color: #403D38;
    padding: 30px 0;
    text-align: center;
}

.about-section .about-cards {
    width: 90%;
    margin: 0 auto;
    overflow: hidden;
}

.about-section .about-cards .card {
    width: 25%;
    float: left;
    padding: 20px;
    text-align: left;
}

.about-section .about-cards .card .layer {
    padding: 10px;
}

.about-section .about-cards .card h4 {
    font-size: 1rem;
    color: lightgrey;
    padding: 10px;
}

.about-section .about-cards .card ul {
    list-style: none;
}
.about-section .about-cards .card ul li {
    font-size: 1rem;
    padding: 5px;
    color: #bbb;
    position: relative;
}

.about-section .about-cards .card ul li i {
    color: gray;
    padding: 5px 0;
    padding-right: 5px;
}
.about-section .about-cards .fourth {
    background-image: url('images/contact-details-map.png');    
    background-repeat: no-repeat;
    background-position: center 70%;
    background-size: auto;
    overflow: auto;
}
.about-section .about-cards a {
    text-decoration: none;
    color: #bbb;
}
.about-section .about-cards a:hover {
    color: rgba(255, 255, 255, 0.9);
    transition: 0.3s ease-in-out;
}
/* -------------------------------------- */
.bye-section {
    background-color: #353330;
    text-align: center;
}
.bye-section img {
    padding: 20px;
}
.bye-section p {
    font-size: 0.9rem;
    padding: 5px;
    color: lightgrey;
}
.bye-section ul {
    padding: 10px;
    list-style: none;
    margin: auto;
    width: fit-content;
    overflow: hidden;
}
.bye-section ul li {
    float: left;
    padding: 5px;
}
.bye-section ul li i {
    color: white;
    border: 1px solid lightgrey;
    border-radius: 50%;
    width: 35px;
    height: 35px;
    text-align: center;
    line-height: 35px;
}
.bye-section ul li i.fa-facebook-f:hover {
    background-color: #3B5998;
    transition-duration: 0.4s;
}
.bye-section ul li i.fa-google-plus:hover {
    background-color: #DD4B39;
    transition-duration: 0.4s;
}
.bye-section ul li i.fa-linkedin-in:hover {
    background-color: #007BB5;
    transition-duration: 0.4s;
}
.bye-section ul li i.fa-twitter:hover {
    background-color: #00ACED;
    transition-duration: 0.4s;
}